.patreon-options-info  {
	max-width: 800px;
	width: 100%;
	display: block;
}

#patreon_image_lock_modal {
	display: none;
	position: absolute;
	z-index: 100101;
	left: 50%;
	top: 50%;
	max-width: 310px;
	max-height: 250px;
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

.patreon_image_lock_modal_content {
	background-color: #f7f7f7;
	border: 1px solid #888;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color : #737276;
	font-weight: bold;
	padding: 10px;
}

.patreon_image_lock_modal_close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.patreon_image_lock_modal_close:hover,
.patreon_image_lock_modal_close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* Image gating modal css start */

#patreon_attachment_patreon_level {
	width: 100px;
	padding-left: 3px;
}

.patreon_image_locking_interface_heading {
	font-size: 150%;
	font-weight: bold;
	margin-left: 15px;
	display: inline-block;
}

.patreon_image_locking_interface_input_prefix {
	background-color: #FFF !important;
	line-height: 20px;
	height: 26px;
	padding: 2px;
	font-size:14px;
	color: #000000;
	display: inline-block;
	border: 1px solid #ececec !important;
	border-top: 2px solid #d3d3d3 !important;
	padding-left: 10px;
	width: 120px;
}

.patreon_image_locking_interface_input_prefix INPUT {
	border: 0px !important;
	background-color: #FFF;
	height:20px;
	outline: none !important;
	box-shadow: none !important;
	width: 100%;
}

.patreon-image-locking-update-button {
	float: left;
	margin: 15px;
	display: inline-block;
}

.patreon_image_locking_interface_level {
	max-width: 270px;
	width: 100%;
	text-align: left;
	display: inline-block;
	padding: 15px;
	padding-top: 0px;
	vertical-align: top;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

.patreon_image_locking_interface_info {
	max-width: 270px;
	width: 100%;
	text-align: left;
	display: inline-block;
	padding: 15px;
	padding-top: 0px;
	vertical-align: top;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

.patreon_image_locking_interface_content_message{
	background-color: #f3f3f3;
	width: 100% !important;
	display: inline-block;
	padding: 15px;
	padding-top: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #737276;
	font-weight: bold;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

/* Image gating modal css eof */

#patreon-image-toolbar {
	display: hidden;
	color: #0F0;
	font-weight: bold;
	width: 49px;
	height: 57px;	
	z-index: 100100;
}

#patreon-image-lock-icon {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	position: absolute;
	top: 6px;
	left: 15px;
	width: 27px;
	height: 41px;
	padding-top: 1px;
	padding-left: 1px;
	border: 1px transparent #575c5e;
}

#patreon-image-lock-icon:hover {
	border: 1px solid #575c5e !important;
	cursor: pointer;
}

#patreon-image-lock-icon img {
	position: absolute;
	top: 2px;
	left: 2px;
	width: 23px;
	height: 37px;
}

#patreon_setup_screen {

	display:block;
	clear: both;
	margin-top:30px;
	line-height : 1.25;
}

#patreon_setup_logo {

	float:left;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 10px;
}


@media only screen and (max-width: 325px) {
	
	#patreon_setup_logo {
		display: block;
		float:none;
	}
}

#patreon_setup_content form .button {
	
	/* Have to override WP button styles */
	font-size: 150% !important;
	
}

#patreon_setup_content {

	display:inline-block;
	float:left;
	width: auto;
	max-width: 800px;
	font-size: 125%;
	padding-top: 0px;
	
}

#patreon_setup_message {

	display:block;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 125%;
}

#patreon_success_inserts {

	display:block;
	clear: both;
	margin-bottom: 10px;
	padding-top: 20px;
	font-size: 125%;
}

.patreon_success_insert {

	display:inline-block;
	box-sizing: border-box;
	float: left;
	margin: 5px;
	padding: 20px;
	padding-bottom: 10px;
	background-color : #ffffff;
	border: 1px solid #c0c0c0;
	width : 100%;
	max-width : 250px;	
	height: 330px;
}

.patreon_success_insert:hover {
	background-color : #f9f9f9;
	cursor: pointer;
}

.patreon_success_insert_content {

	display:inline-block;
	float:left;
}

.patreon_success_insert h3 {
	display:inline-block;
	float:left;
	vertical-align: top;
	margin: 5px;
	margin-top: 0px;
} 

.patreon_success_insert_logo {
	display:block;
	width: 100%;
	text-align: center;
	vertical-align: top;
}

.patreon_success_insert_heading {
	display:block;
	width: 100%;
	margin-top: 10px;
	vertical-align: top;
	text-align: center;
}

.patreon_success_insert_heading h3 {
	font-size: 24px;
	margin-left: 0px;
}

#patreon-connection-details{
	display:none;
	margin-top: 20px;
}

#patreon_options_app_details_disconnect{
	display:none;
}

#patreon_options_app_details_reconnect{
	display:none;
}

#patreon_options_app_details_connect{
	display:none;
}

.patreon_admin_health_content_box {
	
	display: block;
	margin: 20px;
	margin-left: 0px;
	background-color: #ffffff;
	padding:20px;
	max-width: 800px;
	width: 100%;
	font-size: 115%;
	
}

.patreon_toggle_admin_sections {
	
	display: block;
	width: 100%;
	cursor: pointer;
	
}

.patreon_admin_health_content_box > h3:first-of-type {
	margin-top: 0px;
}

.patreon_admin_health_content_section {
	
	display: block;
	margin: 20px;
	margin-left: 0px;
	padding:20px;
	padding-left: 0px;
	max-width: 800px;
	width: 100%;
	font-size: 125%;
	font-weight: bold;
}

.patreon_admin_health_content_section h1 {
	margin-top: 0px;
	font-size: 150%;
}

.patreon_admin_health_content_box_hidden {
	display: none;
}

.patreon_setting_section_toggle_icon {
	font-size: 24px;
	margin-left: 20px;
}
#patreon_health_check_output_for_support {
	display: none;
}
#patreon_copied {
	margin-top: 10px;
}

#patreon_level_select_wrapper{
	width: 100%;
	white-space: nowrap;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;	
}

#patreon_level_select_wrapper img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;	
}

#patreon_level_select_wrapper img:hover {
	cursor: pointer;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}

#patreon_level_select_wrapper select {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.patreon_post_sync_choice {
	display: block;
	margin-top: 10px;
}

.patreon_post_sync_choice_title {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

#patreon-update-posts-info, #patreon-remove-deleted-posts-info, #patreon-post-author-for-synced-posts-info {
	color: #129500;
	font-weight: bold;
	padding: 2px;
	padding-left: 10px;
	width: 80px;
	display:inline-block;	
}

#patreon_select_post_sync_category {
	
	display: block;
	margin-top: 10px;
	
}

#patreon_wordpress_post_import_category_status{
	display: block;
	margin-top: 10px;
	font-weight: bold;
}
#patreon_wordpress_post_author_status{
	display: block;
	margin-top: 10px;
	font-weight: bold;
}

#patreon_api_version_warning {
	display: block;
	padding: 10px;
}

.patreon_api_version_warning_important {
	color: #00a0d2;
	font-weight: bold;
	display: inline;
}

.patreon_wordpress_option_heading {
	/* Slap important because WP disregards this rule - sort the sortable ui remnants later */
	margin-top: 10px !important;
}
