.patreon-msg {-webkit-border-radius: 6px;-moz-border-radius: 6px;-ms-border-radius: 6px;-o-border-radius: 6px;border-radius: 6px;padding:8px;margin-bottom:20px!important;display:block;border:1px solid #E6461A;background-color:#484848;color:#ffffff;}

.ptrn-branding {color:#fff;background-color:#F96854;}


#login .ptrn-branded-button {
    width:auto;
}

/* New stuff */

.patreon-locked-content-message{
	display:block;
	clear:both;
	
}
.patreon-be-patron-button{
	display:inline-block;
	width:auto;
	margin:0.1em;
}
.patreon-login-refresh-button{
	display:inline-block;
	width:auto;
	margin:0.1em;
}

/* A responsive wrapper */
.patreon-campaign-banner{
	
	max-width: 1200px;
	width :100%;
	display:block;
	text-align:center;
	
	
}

.patreon-responsive-button-wrapper{
		display:inline-table!important; /* some themes override this. hence important */
		width : 260px;
		height: 50px;
		vertical-align:middle;
		text-align:center;
		background-color:#F96854!important;
		box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.patreon-responsive-button-wrapper:hover{
	background-color:#ff6b57!important;
	border-bottom: 1px solid #000000;
	
}
.patreon-responsive-button{
	display:table-cell!important; /* some themes override this. hence important */
	vertical-align:middle;
	text-align:center;
	padding: 5px;
	height : 100%;
	text-wrap:nowrap;
	
	/* below code taken from earlier button */
	border: 0;
	box-shadow: none!important;
	color:#fff!important;
    -webkit-border-radius: 2px;
    border-radius: 2px; 
	cursor: pointer;
    font-size: 14px;
    font-weight: 800;
    line-height: 1;
    text-shadow: none;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    text-decoration: none!important;
    text-align: center;
    text-transform: uppercase;
	
}


.patreon-responsive-button img {
	
	display:inline-block!important; /* some themes override this. hence important */
	
	/* below code taken from earlier button */
	width:20px;
	color:#fff!important;
	vertical-align: middle;
    margin-right: 10px;
    box-shadow: none!important;	
	
	
}
