/*====================================
=            Admin Styles            =
====================================*/

.metabox-holder input,
.metabox-holder textarea {
  width: 100%;
  display: block;
}

.metabox-holder input {
  max-width: 250px;
}

.metabox-holder textarea {
  max-width: 500px;
}

.spinner {
  float: left;
  margin-top: 25px;
  margin-left: 20px;
}

.submit-wrap .submit {
  float: left;
  padding-top: 0;
}
